<!-- L3.31: "Help"という文字列と:titleというラベルを関連付け
  views/layouts/application.html.erbのyieldに渡す -->
<% provide(:title, "Help") %>

<h1>Help</h1>
<p>  Get help on the Ruby on Rails Tutorial at the
  <a href="https://railstutorial.jp/help">Rails Tutorial help
  page</a>.
  To get help on this sample app, see the
  <a href="https://railstutorial.jp/#ebook">
  <em>Ruby on Rails Tutorial</em> book</a>.
</p>