# L3.31: "Home"という文字列と:titleというラベルを関連付け
# views/layouts/application.html.erbのyieldに渡す
<% provide(:title, "Home") %>

<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>